body {
    font-family: var(--fonte-principal);
    color: #333333;
}

main {
    padding: 2.5rem 0 2.5rem;
    max-width: 85rem;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    main {
        padding: 0.625rem;
    }
    
}

.btn {
    font-size: 1.25rem;
    width: 10.0625rem;
    height: 3rem;
    border-radius: 1.5625rem;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    transition: background-color 0.3s, border 0.3s;
}

.btn:hover {
    background-color: #6329A2;
    color: #ffffff;
}

.btn-outline {
    background: transparent;
    border: 0.125rem solid #ffffff;
    line-height: 1.4375rem;
}

.btn-filled {
    background: #ffffff;
    color: #6329A2;
    text-align: center;
    line-height: 1.5625rem;
}