.header {
    background-color: #ffffff;
    position: fixed;
    top: 3.75rem;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 36.25rem);
    border-radius: 0.9375rem;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.265rem 1.25rem;
}

.logo img {
    height: 3rem;
}

.nav-center ul {
    display: flex;
    gap: 2.5rem;
}

.nav-center ul li a,
.nav-right ul li a {
    font-size: 1.25rem;
    color: #333333;
}

.nav-center ul li a:hover,
.nav-right ul li a:hover {
    color: #7c3aed;
}

.nav-right ul {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.nav-right img {
    height: 1.25rem;
}

.nav-right a:hover img {
    opacity: 0.7;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    width: 1.875rem;
    height: 1.875rem;
    display: none;
    cursor: pointer;
    z-index: 1001;
}

.menu-icon img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

.menu-icon img:hover {
    opacity: 0.7;
}

@media screen and (max-width: 1280px) {
    .header {
        width: calc(100% - 2.5rem);
    }

    .menu-icon {
        display: block;
    }

    .nav-container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 200px;
        flex-direction: column;
        padding: 80px 20px 20px;
        background-color: #ffffff;
        gap: 2rem;
        transition: right 0.3s ease;
        align-items: flex-start;
    }

    .nav-center,
    .nav-right {
        width: 100%;
        text-align: center;
    }

    

    .nav-center ul,
    .nav-right ul {
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
    }

    .nav-center ul li,
    .nav-right ul li {
        width: 100%;
    
    }

    .nav-center a,
    .nav-right a {
        width: 100%;
        border-bottom: 1px solid #eeeeee;
        padding: 0.3rem 0;
        font-size: 1rem;
        display: block;
    }

    .nav-right ul li a img {
        margin: 0 auto;
    }

    .menu-toggle:checked ~ .nav-container {
        right: 0;
    }

}